kivy==2.3.1
faster-whisper==1.2.1
piper-tts==1.6.0
vosk==0.3.45
sounddevice==0.5.5
numpy==2.5.2
ollama==0.6.2
psutil==7.2.2
scapy==2.7.0
pillow==12.3.0
pyautogui==0.9.54
pytesseract==0.3.13
pypiwin32==223
